.asset-widget-topbanner {
	height: 39px;
	border-bottom: #f3f3f3 1px solid;
	span {
		font-size : 15px;

	}
	.titles {
		color : #444444;
		margin-top: 5px;
	}
	.active {
		color : #286ede;
	}
	.sub-func{
		li{
			margin-right : 10px;
		}
	}
	.text-right {
		color : #286ede;
		div {
			display : inline-block;
		}
		.spliter {
		    height: 21px;
		    background: #cccccc;
		    width: 1px;
		    display: inline-block;
		    position: relative;
		    top: 5px;
		}
		span {
			cursor : pointer;
			margin-left : 8px;
		}
		.sub-func{
			cursor : pointer;
			.add-icon {
				width: 18px;
			    height: 18px;
			    background: url('/static/img/icons_46f68cf.png') no-repeat;
			    background-size: 18px auto;
			    background-position: 0px -35px;
			    display: inline-block;
			    position: relative;
			    top: 7px;
			    left: 12px;
			}
		}
	}
}