.asset-widget-topbanner {
	height: 39px;
	border-bottom: #f3f3f3 1px solid;
	span {
		font-size : 13px;

	}
	.titles {
		color : #444444;
		margin-top: 5px;
		padding-left : 19px;
	}
	.active {
		color : #286ede;
	}
	.sub-func{
		li{
			margin-right : 10px;
		}
	}
	.text-right {
		color : #286ede;
		font-size : 14px;
		div {
			display : inline-block;
		}
		.spliter {
		    height: 21px;
		    background: #cccccc;
		    width: 1px;
		    display: inline-block;
		    position: relative;
		    top: 5px;
		}
		span {
			cursor : pointer;
			margin-left : 8px;
		}
		.sub-func{
			cursor : pointer;
			.add-icon {
			    width: 19px;
			    height: 19px;
			    background: url('/static/img/addicon_74e793a.png') no-repeat;
			    background-size: 19px auto;
			    background-position: 0px 0px;
			    display: inline-block;
			    position: relative;
			    top: 4px;
			    left: 6px;
			}
			.draft {
				color : #286ede;
				a:hover{
					text-decoration: none;
				}
			}
		}
	}
}