.admin-widget-topbanner {
	height: 39px;
	line-height: 39px;
	border-bottom: #f3f3f3 1px solid;
	span {
		font-size : 13px;

	}
	.titles {
		color : #444444;
		padding-left : 29px;
		em {
		    display: inline-block;
		    width: 12px;
		    height: 15px;
		    margin-top: -3px;
		    background: url('static/img/icons.png') no-repeat;
		    background-size: 26px auto;
		    background-position: 0px -132px;
		    position: relative;
		    top: 2px;
		    left: 4px;
		}
	}
	.active {
		color : #286ede;
	}
	.sub-func{
		li{
			margin-right : 10px;
		}
	}
	.text-right {
		color : #286ede;
		font-size : 14px;
		margin-left: 86px;
		div {
			display : inline-block;
			    margin-left: 4px;
		}
		.spliter {
		    height: 21px;
		    background: #cccccc;
		    width: 1px;
		    display: inline-block;
		    position: relative;
		    top: 5px;
		}
		span {
			cursor : pointer;
			margin-left : 4px;
			color: #286ede;
		}
		.return{
			position: relative;
		    float: right;
		    right: 53px;
		    bottom: -1px;
		    padding: 3px 10px;
		}
		.sub-func{
			cursor : pointer;
			.add-icon {
			    width: 20px;
			    height: 20px;
			    background: url('static/img/addicon.png') no-repeat;
			    background-size: 18px auto;
			    background-position: 0px -18px;
			    display: inline-block;
			    position: relative;
			    top: 5px;
			    left: 6px;
			}
			.draft {
				a {
					color : #286ede;
				}
				a:hover{
					text-decoration: none;
					color : #286ede;
				}
				a:visited {
					color : #286ede;
				}

			}
		}
	}
}