.asset-widget-table{
	margin: 0 auto;
	width : 94%;
	.table-page-option{
		padding: 12px 0px 12px 0px;
		margin : 15px 0 0 0;
    	background-color: #eff3f8;
    	text-align: center;
	}
	table {
		border: 1px solid #eee;
		thead {
			th {
				border-bottom: 1px solid #eee;
				background: #f5f8fa;
			}
		}
		thead th, tbody td {
			text-align: center;
			border: none;
		}
		tbody td {
			border-bottom: 1px dashed #eee;
			color : #686868;
			&:first-child {
				color : #444444;
				font-weight : bold;
			}
		}
	}
	label {
		font-weight: normal;
	    text-align: left;
	    white-space: nowrap;
	}
	.dataTables_length{
		span,select{
			display : inline-block;
		}
		&select.page-select{
			width: 59px;
		    height: 31px;
		}
	}
}
