.admin-widget-form {
    margin: 0 auto;
    border : 0px;
    height : 70px;
	&.subnav {
		margin-bottom : -1px;

	}
	
	.form-body {
		padding: 20px 53px 0px 20px;

	}
	.panel-title{
		line-height: 42px;
    	font-size: 20px;
	}

	.panel-body {
		.input-wrapper {
			.input-group-addon{
				
			    border: 1px solid #e6e6e6;
			    border-right: 1px dashed #e6e6e6;
			    background-color : #ffffff;	
				border-top-left-radius: 3px;
			    border-bottom-left-radius: 3px;
				border-top-right-radius: 0;
			    border-bottom-right-radius: 0;
    			}
			input {
				border: 1px solid #e6e6e6;
				border-top-right-radius: 3px;
			    border-bottom-right-radius: 3px;
				border-top-left-radius: 0;
			    border-bottom-left-radius: 0;
			    border-left: none;
			}
			.custom-input {
				height: 34px;
			    padding: 6px 12px;
			    font-size: 14px;
			    line-height: 1.42857143;
			    color: #555;
			    background-color: #fff;
			    display: table-cell;
			    position: relative;
			    z-index: 2;
			    float: left;
			    width: 100%;
			    margin-bottom: 0;
			}
		}
	}
	.nav-item{
	    color: #ccc;
		margin-bottom: 0px;
		margin-left : -10px;
		background-color: #ffffff;
		font-size : 14px;
	}
	.breadcrumb >li {
		color : #333;
	}
	.input-wrapper {
		padding-left: 17px;
		padding-right: 17px;
	}
	.button-list{
		display : inline-block;
	}
	.button-wrapper {
		width: 200px;
	    position: relative;
	    margin: 0 auto;
	}
	.choose-button {
		cursor: pointer ;	
	}
	.tac {
		width: auto;
	    display: block;
	    text-align: center;
	    padding: 1px 0px 24px 0px;
	}
	label {
		font-size : 14px;
		color : #676a6c
	}
}

