
.asset-widget-login {
	font-family: "Microsoft YaHei";
	width: 100%;
	height: 100%;

	.header {
		height: 80px;
		position: relative;
		background: white;
		.headPosition{
			position: absolute;
			right: 50%;
			top: 20px;
			margin-right: 400px;
		}
		.logo {
			display: inline-block;
			vertical-align: top;
			background: url(static/img/logo.png) no-repeat;
			width: 45px;
			height: 45px;
			background-size: 45px 45px;
		}
		h1 {
			display: inline-block;
			vertical-align: top;
			height: 45px;
			line-height: 45px;
			margin: 0;
			font-size: 26px;
			font-weight: 500;
			color: #333;
			margin-left: 2px;
		}
	}

	.main{
		background-color: #fff;
		height: 610px;
	    position: relative;
	    min-width: 1000px;
	    width: 100%;
		.main-inner{
			height: 610px;
			background-image: url(static/img/login-bg.jpg);
			background-repeat: no-repeat;
    		background-position: center top;
		    background-size: cover;
		}
	}

	.footer {
		text-align: center;
		height: 80px;
		line-height: 80px;
		width: 100%;
		background: #fff;
		color: #888;
		font-size: 12px;
	}

	.form {
		width: 330px;
		background: #eaecee;
		border-radius: 3px;
		position: absolute;
		top: 145px;
		left: 50%;
		margin-left: 140px;
		padding: 50px 20px 55px 20px;
		box-sizing: border-box;

		.mt25 {
			margin-top: 25px;
		}

		input[type=text], input[type=password] {
			font-family: "Microsoft YaHei";
			border: none;
			height: 40px;
			line-height: 40px;
			width: 245px;
			margin-left: 45px;
			background: none;
			text-indent: 10px;
			color: #333;
			font-size: 15px;

			&:focus {
				outline: none;
			}
		}
		.verify-code {
			width: 55px;
			height: 25px;
			margin-left: 18px;
			position: relative;
			top: 10px;
		}
		.refresh-icon {
			width: 27px;
			height: 25px;
			position: absolute;
			background: url(/static/img/login-refresh.png) no-repeat;
			right: 0;
			top: 9px;
			cursor: pointer;
		}

		.login-submit {
			display: block;
			text-decoration: none;

			&:hover {
				text-decoration: none;
			}
		}
		.input-wrapper {
			position: relative;
			height: 42px;
			width: 100%;
			background: white;
			border-radius: 3px;

			&.verify-wrapper {
				width: 185px;
				float: left;
			}
			.code {
				margin-left: 0;
				width: 185px;
			}

			.icon {
				position: absolute;
				width: 22px;
				height: 22px;
				background-repeat: no-repeat;
				background-size: cover;
				position: absolute;
				left: 15px;
				top: 11px;

				&.username {
					background-image: url(/static/img/login-username.png);
				}

				&.password {
					background-image: url(/static/img/login-password.png);
				}
			}
		}

		.substy{
			line-height: 28px;
			font-size: 15px;
			width: 100%;
			font-family: "Microsoft YaHei";
			margin-top: 23px;
		}
	}
}