.admin-widget-proTerm {
	.year-select-wrapper {
		input {
			margin: 5px;
		}
		margin-left: 41px;
	}
	.cus-days {
	    width: 120px;
	    margin-left: 104px;
  	}

  	.tip {
  		color: red;
  		margin-left: 105px;
  	}
}