.admin-widget-proTerm {
	.year-select-wrapper {
		input {
			margin: 5px;
		}
		position: relative;
		top: 15px;
	}
	.cus-days {
	    width: 120px;
	    margin-left: 20px;
  	}

  	.tip {
  		color: red;
  		margin-left: 35px;
  	}
}