.admin-widget-relatedDoc {
	.up{
		width:20px; 
		height:30px; 
		border:0; 
		background:url('/static/img/up.png') no-repeat left top;
	}
	.down{
		width:20px; 
		height:30px; 
		border:0; 
		background:url('/static/img/down.png') no-repeat left top;
	}
}